<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:env="">

  <targets>
    <target xsi:type="File" 
            name="debug_logfile" 
            fileName="${environment:USERPROFILE}\Documents\PeacefullMonsters\Logs\[${shortdate}] [Debug] Log.txt" 
            layout="${newline}[${longdate:format=HH\:mm\:ss.fff}] ${message}"
            />
            
    <target xsi:type="File" 
            name="errors_logfile" 
            fileName="${environment:USERPROFILE}\Documents\PeacefullMonsters\Logs\[${shortdate}] [Errors] Log.txt" 
            layout="${newline}[${longdate:format=HH\:mm\:ss.fff}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debug_logfile" />
    <logger name="*" minlevel="Error" writeTo="errors_logfile" />
  </rules>
</nlog>
